/* header */
.header {
  background: white;
  position: fixed;
  /* scroll bar 없애기 */
  width: 100%;
  z-index: 999;
}

.header .wrap {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 img {
  width: 165px;
}

.header .menuWrap ul {
  display: flex;
  gap: 100px;
}

/* .scrollWrap {
  margin-top: 76px;
  height: calc(100vh - 76px);
  overflow-y: auto; 
} */

/* visual */
.visual {
  height: 100vh;
  min-height: 700px;
  background: pink;
  background-image: url(../img/img01_01.jpg);
  display: flex;
  align-items: center;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.visual .container {
  left: 40px;
}

/* content */

.cont01 {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  background-color: #ffd44a;
  display: block;
}

.cont01-02 {
  padding-left: 624px;
}

.cont02 {
  height: 600px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.thumb {
  width: 384px;
  height: 450px;
}

.thumb img {
  transition: 0.2s;
}
.thumb:hover img {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
}
.txtbox {
  padding-left: 15px;
}

.gt {
  display: inline-block;
  background: url(../img/gt.png) no-repeat right 10% top 20%;
}

.cont03-01 {
  position: relative;
  height: 462px;
  margin-top: 160px;
}
.cont03-01 {
  display: block;
  width: 1114px;
  height: 338px;
  padding: 102px 520px 102px 104px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffd44a;
}

.cont03-01 p {
  display: block;
  margin-top: 24px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
}

.cont03-02 {
  position: absolute;
  top: 102px;
  right: 0;
  width: 592px;
  height: 360px;
  background: url(../img/imgi_32_purpose.e6f7b36.jpg) no-repeat 0 0;
}

cont03 {
  height: 462px;
  margin-top: 160px;
}

.cont04 {
  padding-top: 100px;
  padding-bottom: 160px;
  background-color: #f7f8f9;
  margin-top: 160px;
}

.cont04 .title {
  padding-left: 20px;
  padding-bottom: 50px;
}
/* footer  */
